body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 250px;
}

Header {
    Background: #ebebeb;
    text-align: center;
    padding: 30px;
    margin-bottom: -15px;
}

nav {
    background: #ebebeb;
    text-align: center;
    padding: 30px;
}

.left-section {
    background: #ebebeb;
    float: left;
    text-align: center;
    Height: 300px;
    width: 495px;
    padding: 20px;
}

.right-section {
    float: right;
    text-align: center;
    Height: 300px;
    width: 365px;
    padding: 20px;
 }

.article {
    color: #ebebeb;
    background: #777;
    width:493px;
    height: 240px;
    padding: 1px;
}

.article-header {
    background-color: #ebebeb;
    width: 450px;
    height: 65px;
    color: #777;
    margin: 0 auto;
    padding-top: 1px;
}

.article-p {
    background-color: #ebebeb;
    width: 450px;
    height: 65px;
    color: #777;
    margin: 10px 20px 0px 22px;
    padding-top: 1px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
  }

Footer {
    background: #ebebeb;
    padding: 30px;
    text-align: center;
}